.container {
  border: white 1px solid;
  border-radius: 10px;
  margin-bottom: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .wrapper {
    align-self: flex-start;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
  }
}
